
@{
    ViewBag.Title = "Administrare";
}

<h2 style="color:#317eac">Administrare</h2>



<p style="color:#317eac; text-decoration:none">

    <br />
    <a style="color:#317eac; text-decoration:none;" asp-action="introducere_credit_restantieri"><b>Introducere credit restantieri </b></a>
    <br />
    <br />
    <a style="color:#317eac; text-decoration:none;" asp-action="introducere_debit_restantieri"><b>Introducere debit restantieri </b></a>
    <br />
    <br />
    <a style="color:#317eac; text-decoration:none;" asp-action="calcul_DP_end_luna"><b>calcul dobanzi penalizatoare </b></a>
    <br />
    <br />
    <a style="color:#317eac; text-decoration:none;" asp-action="insert_RJ_DP_end_luna"><b>Introducere dobanzi penalizatoare </b></a>
    <br />
    <br />
    <a style="color:#317eac; text-decoration:none;" asp-controller="Pensionars" asp-action="index"><i>revenire la pagina principala </i></a>
</p>



<br />

