@{
    ViewBag.Title = "Verificare cont dobanda";
}

<h2 style="color:#317eac">Miscarile pentru contul 26791 au fost verificate pentru luna @DateTime.Now.Month-1  </h2>



<p>

    @Html.Raw(ViewBag.solduri_gresite);
    <br />

</p>

