@model carp_tm_2025.Models.Pensionar

@{
    ViewData["Title"] = "Creare partida noua";
}

<h2 style="color:#317eac">Creare  partida noua </h2>

<br />


<form asp-action="Create">  
      

 <div class="row">


         <div class="col-md-6">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row mb3">

                <label class="col-form-label col-md-2" style="text-align:left; color:#317eac;font-weight:normal; width:35%">nr carnet</label>

                <div class="col-md-10" style="width:65%; text-align:center">
                    <input class="form-control" asp-for="nrcarnet" />
                    <span asp-validation-for="nrcarnet" class="text-danger"></span>
                </div>

            </div>

            <br />

            <div class="row mb3">

                <label class="col-form-label col-md-2" style="text-align:left; color:#317eac;font-weight:normal; width:35%">nume si prenume</label>

                <div class="col-md-10" style="width:65%; text-align:center">
                    <input class="form-control" asp-for="nume" />
                    <span asp-validation-for="nume" class="text-danger"></span>
                </div>

            </div>

            <br />

            <div class="row mb3">

                <label class="col-form-label col-md-2" style="text-align:left; color:#317eac;font-weight:normal; width:35%">nume si prenume</label>

                <div class="col-md-10" style="width:65%; text-align:center">
                    <input class="form-control" asp-for="prenume" />
                    <span asp-validation-for="prenume" class="text-danger"></span>
                </div>

            </div>

            <br />

            <div class="row mb3">

                <label class="col-form-label col-md-2" style="text-align:left; color:#317eac;font-weight:normal; width:35%">CNP</label>

                <div class="col-md-10" style="width:65%; text-align:center">
                    <input class="form-control" asp-for="cnp" />
                    <span asp-validation-for="cnp" class="text-danger"></span>
                </div>

            </div>

            <br />

            <div class="row mb3">

                <label class="col-form-label col-md-2" style="text-align:left; color:#317eac;font-weight:normal; width:35%">nr cupon</label>

                <div class="col-md-10" style="width:65%; text-align:center">
                    <input class="form-control" asp-for="nrcupon" />
                    <span asp-validation-for="nrcupon" class="text-danger"></span>
                </div>

            </div>


             <br />

            <div class="row mb3">

                <label class="col-form-label col-md-2" style="text-align:left; color:#317eac;font-weight:normal; width:35%">valoare pensie</label>

                <div class="col-md-10" style="width:65%; text-align:center">
                    <input class="form-control" asp-for="pensie" />
                    <span asp-validation-for="pensie" class="text-danger"></span>
                </div>

            </div>

            <br />

            <input asp-for="EXCL" type="hidden" Value="-" />

         </div>


         <div class="col-md-6">

            <div class="row mb3">

                <label class="col-form-label col-md-2" style="text-align:left; color:#317eac;font-weight:normal; width:35%">judet</label>

                <div class="col-md-10" style="width:65%; text-align:center">
                    <input class="form-control" asp-for="judet" />
                    <span asp-validation-for="judet" class="text-danger"></span>
                </div>

            </div>

            <br />


            <div class="row mb3">

                <label class="col-form-label col-md-2" style="text-align:left; color:#317eac;font-weight:normal; width:35%">localitate</label>

                <div class="col-md-10" style="width:65%; text-align:center">
                    <input class="form-control" asp-for="localitate" />
                    <span asp-validation-for="localitate" class="text-danger"></span>
                </div>

            </div>

            <br />

            <div class="row mb3">

                <label class="col-form-label col-md-2" style="text-align:left; color:#317eac;font-weight:normal; width:35%">strada</label>

                <div class="col-md-10" style="width:65%; text-align:center">
                    <input class="form-control" asp-for="strada" />
                    <span asp-validation-for="strada" class="text-danger"></span>
                </div>

            </div>

            <br />

            <div class="row mb3">

                <label class="col-form-label col-md-2" style="text-align:left; color:#317eac;font-weight:normal; width:35%">nr</label>

                <div class="col-md-10" style="width:65%; text-align:center">
                    <input class="form-control" asp-for="nr" />
                    <span asp-validation-for="nr" class="text-danger"></span>
                </div>

            </div>


            <br />

            <div class="row mb3">

                <label class="col-form-label col-md-2" style="text-align:left; color:#317eac;font-weight:normal; width:35%">bloc</label>

                <div class="col-md-10" style="width:65%; text-align:center">
                    <input class="form-control" asp-for="bloc" />
                    <span asp-validation-for="bloc" class="text-danger"></span>
                </div>

            </div>


            <br />

            <div class="row mb3">

                <label class="col-form-label col-md-2" style="text-align:left; color:#317eac;font-weight:normal; width:35%">ap</label>

                <div class="col-md-10" style="width:65%; text-align:center">
                    <input class="form-control" asp-for="ap" />
                    <span asp-validation-for="ap" class="text-danger"></span>
                </div>

            </div>

            <br />

            <div class="row mb3">

                <label class="col-form-label col-md-2" style="text-align:left; color:#317eac;font-weight:normal; width:35%">telefon</label>

                <div class="col-md-10" style="width:65%; text-align:center">
                    <input class="form-control" asp-for="telefon" />
                    <span asp-validation-for="telefon" class="text-danger"></span>
                </div>

            </div>

            <br />

            <div class="row mb3">

                <label class="col-form-label col-md-2" style="text-align:left; color:#317eac;font-weight:normal; width:35%">e-mail</label>

                <div class="col-md-10" style="width:65%; text-align:center">
                    <input class="form-control" asp-for="email" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>

            </div>

        </div>

 </div>
              


  

 <div class="row">

    <div class="col-md-6">

        <div class="row mb3">
            <label class="col-form-label col-md-2" style="text-align:left; color:#317eac;font-weight:normal;width:35%"></label>
            <div class="col-md-10" style="width:65%; text-align:left">
                <input type="submit" class="btn btn-light" value="Creare" style="color:#317eac; font-weight:bold; background: none;border: 1px solid #dddddd" /> 
                
            </div>
        </div>

    </div>

</div>


 </form>
    



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
