
@{
    ViewBag.Title = "Introducere credit restantieri";
}

<h2 style="color:#317eac">Introducere credit restantieri</h2>



<p>

    @Html.Raw(ViewBag.nrins);
    <br />
    
</p>

<br />

<a style="color:#317eac; text-decoration:none;" asp-action="administrare"><i>revenire la pagina de administrare </i></a>